.header__item {
  vertical-align: middle;
  padding: 4px 13px;
  padding-right: 0;
  transition: background-color .25s;
  cursor: pointer;
}

.header__item a {
  outline: none;
  text-decoration: none;
}

.header__container {
  width: 100%;
  display: -webkit-inline-flex;
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
}
